<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>Message List</h3>
    <ul>
      <% messages.forEach(messages=> { %>
      <li>
        text: <%= messages.text %>, user: <%= messages.user %>, date: <%=
        messages.added %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
